@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Montserrat:wght@600&family=Open+Sans:wght@600&display=swap");
/*!---CSS-RESET---*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*!---CSS-RESET---*/
/*!---LANDİNG-PAGE-TAYYİP---*/
.landingPageTayyip {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #272d37;
  font-weight: bold;
}
/*!---TYP-PAGE-HEADER---*/
.typHero {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fb;
  min-height: 774px;
}
.typPageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  padding: 20px;
  top: 0px;
  background-color: #f8f9fb;
  border-bottom: 1px solid #eaebf0;
  z-index: 1;
}
.typPageHeader a {
  color: #272d37;
  font-weight: bold;
}

.typLogo {
  display: flex;
  flex-direction: row;
}
.typLogoAndLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
  padding-left: 130px;
}
.typLinksHead {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.typSign {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding-right: 160px;
}
.typSign .typSignUp {
  color: #437ef7;
}
.typSign .typLogin {
  color: white;
  background-color: #437ef7;
  padding: 12px 18px;
  border-radius: 6px;
}
/*!---TYP-FEATURES---*/
.typLeftFeaturesBox
{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 80px;
}
.typLeftBoxHeader
{
  margin-left: 40px;
  margin-bottom: 32px;
  margin-top: 156px;
  font-size: 30px;
  font-weight: 700;
  line-height: 70px;
}
.typCheckBox
{
  background-color: #437ef7;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  position: relative;
}

.typTextBox
{
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-left: 75px;
}
.check--one
{
  position: relative;
}
.check--two
{
  position: relative;
}
.check--three
{
  position: relative;
}
#typCheck
{
  color: #ffffff;
  position: absolute;
  right: 7px;
}
.typinput
{
  margin-top: 48px;
  margin-left: 70px;
}
.typinputBox
{
  position: absolute;
}
.typinputBoxButon
{
  position: relative;
  background-color: #437ef7;
  width: 88px;
  height: 46px;
  border-radius: 0px 6px 6px 0px;
  margin-left: 332px;
}
#typSubmitButon
{
  position: absolute;
  color: #ffffff;
  top: 10px;
  right: 17px;
}
/*!---TYP-FEATURES---*/

/*!---TYP-PAGE-HEADER---*/

/*!---TYP-CONTAİNER---*/
/*!---TYP-CONTAİNER---*/

/*!---TYP-FOOTER---*/
.typFooter {
  margin-bottom: 0;
  
  min-height: 256px;
  background-color: #151b28;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.typFooter a {
  color: #ffffff;
  font: 500 "inter" sans-serif;
  font-weight: bold;
}
.typFooterTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-top: 64px;
}
.typFooterLinks {
  display: flex;
  flex-direction: row;
  gap: 48px;
  position: relative;
}
.typFooterSocialLogo {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  position: relative;
}
.typFooterBorderBox {
  background-color: #a5acba;
  min-width: 1325px;
  margin-left: 40px;
  min-height: 1px;
  align-self: center;
  position: static;
}

.typFooterBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 150px;
}
.typFooterBottomLeft {
  display: flex;
  flex-direction: row;
}
.typFooterBottomLeft li {
  color: #a5acba;
}
.typFooterBottomRight {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.typFooterBottomRight a {
  color: #a5acba;
}
/*!---TYP-FOOTER---*/

/*!---LANDİNG-PAGE-TAYYİP---*/

/*!---BUSE---*/

.blog-content h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
  color: #272d37;
}
.blog-container{
  display: flex;
}
.blog-button-yazi span{
  display: inline-block;
  background-color: #F7F7F8;
  border-radius: 5px;
  color:  #272D37;
  font-family: Arial, Helvetica, sans-serif;
  gap: 5px;
  padding: 4px 12px;
  align-items: center;
}
.blog-content{
 display: grid;
}
.blog-posts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:24px;
  margin-bottom: 40px;

}
.blog-post-item{
  box-shadow: 0px 8px 24px rgba(40, 41, 61, 0.08);
  border-radius: 6px;
  padding: 16px;
}
.blog-post-item img{
  margin-bottom: 10px;
}

.blog-post-item p{
  margin-bottom: 0;
  color: #5F6D7E;
}
.blog-button{
  display: flex;
  justify-content: center;

}


.pricing-container h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
  color: #272d37;
}

.pricing-container p{
  color: #437EF7;
  text-align: center;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
}
.pricing-container h1{
  display: flex;
  flex-direction: column;
   color:  #272D37;
  text-align: center;
  font-size: 52px;
  font-family: Inter;
  font-weight: 700;

}
.pricing-button-yazi span{
  display: inline-block;
  flex-direction: column;
  background-color: #F7F7F8;
  border-radius: 5px;
  color:  #272D37;
  gap: 5px;
  padding: 10px 16px;
  align-items: center;

}

.pricing-posts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:15px;
  margin-bottom: 40px;
  border: 1px solid (#EAEBF0);

}
.pricing-post{
  box-shadow:0px 1px 2px 0px rgba(16, 24, 40, 0.04);;
  border-radius: 6px;
  padding:12px;
  color: #ffffff;

}
.pricing-post a{
  color: #272D37;
}
.pricing-post p{
  color:#5F6D7E;
}
.pricing-yazi h2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-yazi p{
  color: #5F6D7E;
  text-align: center;
}

/*!---BUSE---*/

/*!---BUSRA---*/
/*BUSRA BURAYI SANA AYIRDIM*/
/*!---BUSRA---*/

/*!---AHMET---*/

.support-help h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
  color: #272d37;
}
.support-help h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.64px;
}

.support-help h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.28px;
}
.support-help h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.22px;
}
.support-help h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.1px;
}
.support-help h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.support-help p {
  font-family: "Inter";
  font-size: 16px;
  color: #5f6d7e;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.support-container {
  width: 1216px;
  margin: 0 auto;
  margin-top: 32px;
}

.support-profile {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.support-lists {
  display: flex;
  gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.support-lists-home {
  color: #5f6d7e;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.support-lists-page {
  color: #437ef7;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.support-profileImg {
  display: flex;
  gap: 32px;
}

.support-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.support-table {
  border: 1px solid #eaebf0;
  border-radius: 5px;
  border-collapse: collapse;
  margin-bottom: 64px;
}

.support-table-tr {
  width: 100%;
  border-bottom: 1px solid #eaebf0;
  padding: 18px 32px;
  display: flex;
  justify-content: space-between;
}

.support-table-tr1 {
  width: 100%;
  border-bottom: 1px solid #eaebf0;
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.support-table-end {
  display: flex;
  gap: 32px;
}

.support-profile-btn {
  padding: 20px;
  border: 1px solid #f5faff;
  padding: 4px 12px;
  border-radius: 5px;
  background: #f5faff;
}

.support-profile-btn a {
  font-size: 14px;
  font-family: "Inter";
  font-weight: 500;
  line-height: 20px;
  color: #437ef7;
}
.support-borderless {
  border: none;
}

.support-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px 0;
}
.support-section-header {
  width: 800px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.support-section-item {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.support-section-card {
  border: 1px solid #eaebf0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  text-align: center;
  gap: 16px;
}

/*!---AHMET---*/
